{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Prueba tecnica La liga</h1>
        <h3>DESCRIPCIÓN</h3>
        <p>Se desea crear un módulo CRUD de una entidad A relacionada 1..N con otra entidad B
        utilizando el framework php Symfony en su versión 3.2<p>
        <h3>ACCIONES</h3>
        <p>Se deben de crear las entidades, formularios, vistas y controladores necesarios para crear
        las acciones necesarias del módulo CRUD:
        - Listado de registros de la entidad A
        - Creación de nuevos registros de la entidad A con un select multiple para poder
        seleccionar los registros relacionados con la entidad B.
        - Edición de un registro existente de la entidad A.
        - Borrado lógico de la entidad A.<p>
            <h3>MODELO</h3>
        <p>La entidad A cuyo nombre será ‘club’ tendrá los siguientes campos:
        - id (clave primaria integer autoincremental)
        - nombre (texto)
        - telefono (texto)
        - jugadores (relación 1 a N con la entidad B jugadores)
        - borrado (boolean)
        Los registros de la entidad B cuyo nombre será ‘jugadores’, serán insertados directamente
        en la bbdd a través de mysql y tendrá los siguientes campos:
        - id (clave primaria integer autoincremental)
        - nombre (texto)<p>
                <h3>FORMULARIO</h3>
        <p>Se deben de crear un FormType de Symfony. Para la entidad A será necesario incluir
        todos sus campos junto con su relación 1..N que será un select multiple de la entidad B y
        que se mostrarán solo los jugadores que no tengan ningún club asociado.<p>
                    <h3>PLANTILLAS</h3>
        <p>Se deberá maquetar las siguientes plantillas:
         Formulario para crear registro de la entidad B
         Formulario para crear, editar y borrar registros de la entidad A
        La maquetación del listado y el formulario deberá de hacerse utilizando Bootstrap V3 con
        el motor de plantillas Twig.<p>
    </div>
{% endblock %}
