{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jugador edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <a class="btn btn-primary" href="{{ path('player_index') }}">Back to the list</a>
    {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
