{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jugadors list</h1>

    <table id="players" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jugador in jugadors %}
            <tr>
                <td><a href="{{ path('player_show', { 'id': jugador.id }) }}">{{ jugador.id }}</a></td>
                <td>{{ jugador.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('player_show', { 'id': jugador.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('player_edit', { 'id': jugador.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('player_new') }}">Create a new jugador</a>

{% endblock %}

{% block js_aditional %}
    <script>
        $(document).ready( function () {
            $('#players').DataTable({
                pageLength: 5,
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf'
                ]});
        } );
    </script>
{% endblock %}
