{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jugador creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <a class="btn btn-primary" href="{{ path('player_index') }}">Back to the list</a>

{% endblock %}
