{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jugador</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jugador.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ jugador.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('player_index') }}">Back to the list</a>
    <a class="btn btn-warning" href="{{ path('player_edit', { 'id': jugador.id }) }}">Edit</a>
    {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
