{% extends 'base.html.twig' %}

{% block body %}
    <h1>Club edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        {% if players is not empty %}
            <h3>Jugadores en el club</h3>
            <ul>
            {% for player in players %}
                <li>{{ player.nombre }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

        <a  class="btn btn-primary" href="{{ path('club_index') }}">Back to the list</a>
        {{ form_start(delete_form) }}
            <input  class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}
{% endblock %}
