{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clubs list</h1>

    <table id="clubs" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <button data-toggle="collapse" data-target="#filters">Mostrar Filtros</button>

        <div id="filters" class="collapse well">
            <form class="form-horizontal" method="post" >
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Nombre</label>
                        <div class="col-lg-10">
                            <input class="form-control" name="name" placeholder="Nombre" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Telefono</label>
                        <div class="col-lg-10">
                            <input id="phone" name="phone" class="form-control" placeholder="Telefono" type="text">
                        </div>
                    </div>
                </fieldset>
                <input type="submit" value="Buscar"/>
            </form>
        </div>
        {% for club in clubs %}
            <tr>
                <td><a href="{{ path('club_show', { 'id': club.id }) }}">{{ club.id }}</a></td>
                <td>{{ club.nombre }}</td>
                <td>{{ club.telefono }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('club_show', { 'id': club.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('club_edit', { 'id': club.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a class="btn btn-primary" href="{{ path('club_new') }}">Create a new club</a>
{% endblock %}

{% block js_aditional %}
    <script>
        $(document).ready( function () {
            $('#clubs').DataTable({
                pageLength: 5,
                dom: 'Bfrtip',
                buttons: [
                 'excel', 'pdf'
            ]});

            $('#phone').mask('000-00-00-00');

        } );
    </script>
{% endblock %}
