{% extends 'base.html.twig' %}

{% block body %}
    <h1>Club creation</h1>

    <div class="well bs-component">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
        {{ form_end(form) }}
    </div>


    <a class="btn btn-primary" href="{{ path('club_index') }}">Back to the list</a>

{% endblock %}
