{% extends 'base.html.twig' %}

{% block body %}
    <h1>Club</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ club.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ club.nombre }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ club.telefono }}</td>
            </tr>
        </tbody>
    </table>


    {% if players is not empty %}
        <h3>Jugadores en el club</h3>
        <ul>
            {% for player in players %}
                <li>{{ player.nombre }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>
        <a class="btn btn-primary" href="{{ path('club_index') }}">Back to the list</a>
        <a class="btn btn-warning" href="{{ path('club_edit', { 'id': club.id }) }}">Edit</a>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </p>

{% endblock %}